<h2 mat-dialog-title>{{creatingCustomer ? 'Crear' : 'Actualizar'}} cliente</h2>
<mat-dialog-content class="mat-typography">
  <form class="createUpdateForm" [formGroup]="createUpdateForm" (ngSubmit)="handleSubmit()" #createCustomerForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Nombres</mat-label>
      <input matInput formControlName="name" />
      <mat-icon matPrefix>account_circle</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="lastname" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Numero de documento</mat-label>
      <input matInput formControlName="documentNumber" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefono</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-radio-group aria-label="Selecciona el tipo de cliente." formControlName="customerTypeId">
      <mat-radio-button value="2">Persona Natural</mat-radio-button>
      <mat-radio-button value="3">Persona Juridica</mat-radio-button>
    </mat-radio-group>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="createCustomerForm.ngSubmit.emit()">{{creatingCustomer ? 'Crear' : 'Actualizar'}}</button>
</mat-dialog-actions>