<div class="wrapper">
    <h2>Tablero</h2>
    <h4>Bienvenido {{username}}</h4>
    <div class="row">
        <div class="col-sm-2">
            <app-dashboard-card></app-dashboard-card>
        </div>
        <div class="col-sm-2">
            <app-dashboard-card></app-dashboard-card>
        </div>
        <div class="col-sm-2">
            <app-dashboard-card></app-dashboard-card>
        </div>
        <div class="col-sm-2">
            <app-dashboard-card></app-dashboard-card>
        </div>
        <div class="col-sm-2">
            <app-dashboard-card></app-dashboard-card>
        </div>
        <div class="col-sm-2">
            <app-dashboard-card></app-dashboard-card>
        </div>
    </div>
</div>