<div class="wrapper">
    <h2>Tablero</h2>
    <h4>Bienvenido {{username}}</h4>
    <div class="row">
        <div class="col-sm-2">
            <app-dashboard-card imgSrc="../../../../assets/dashboard/building.svg" quantity="25"
                description="Hab. Disponibles"></app-dashboard-card>
        </div>
        <div class="col-sm-2">
            <app-dashboard-card imgSrc="../../../../assets/dashboard/building.svg" quantity="25"
                description="Hab. Disponibles"></app-dashboard-card>
        </div>
        <div class="col-sm-2">
            <app-dashboard-card imgSrc="../../../../assets/dashboard/building.svg" quantity="25"
                description="Hab. Disponibles"></app-dashboard-card>
        </div>
        <div class="col-sm-2">
            <app-dashboard-card imgSrc="../../../../assets/dashboard/building.svg" quantity="25"
                description="Hab. Disponibles"></app-dashboard-card>
        </div>
        <div class="col-sm-2">
            <app-dashboard-card imgSrc="../../../../assets/dashboard/building.svg" quantity="25"
                description="Hab. Disponibles"></app-dashboard-card>
        </div>
        <div class="col-sm-2">
            <app-dashboard-card imgSrc="../../../../assets/dashboard/building.svg" quantity="25"
                description="Hab. Disponibles"></app-dashboard-card>
        </div>
    </div>
    <div class="row table-wrapper">
        <div class="col-sm-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Registros Esperados
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
        <div class="col-sm-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Salidas Esperadas
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>