<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Administracion de turnos</mat-card-title>
                    <mat-card-subtitle>Cierre y apertura de turnos</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4">
                                <mat-card class="mat-elevation-z2">
                                    <mat-card-header>
                                        <mat-card-title>Turno activo</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        {{currentBalance?.createdAt | date:'EEEE dd/MM/yyyy'}}
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-sm-4">
                                <mat-card class="mat-elevation-z2">
                                    <mat-card-header>
                                        <mat-card-title>Total Facturado</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        {{getBillingTotalFromCurrentBalance()|number}}
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-sm-4">
                                <mat-card class="mat-elevation-z2">
                                    <mat-card-header>
                                        <mat-card-title>Total Cobrado</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        {{getPaymentsTotalFromCurrentBalance()|number}}
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Arqueo de caja</mat-card-title>
                    <mat-card-subtitle>Total Efectivo : {{(this.lpsCashTotal + this.usdCashTotal + this.qtzCashTotal) |
                        number}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-tab-group>
                                    <mat-tab label="Efectivo" class="w-100">
                                        <div class="container-fluid mt-2 mb-2">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <mat-card class="mat-elevation-z2">
                                                        <mat-card-header>
                                                            <mat-card-title>Lempiras</mat-card-title>
                                                        </mat-card-header>
                                                        <mat-card-content>
                                                            <form [formGroup]="this.lpsCashForm">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Un Lempira</mat-label>
                                                                    <input type="number" matInput formControlName="one">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Dos Lempiras</mat-label>
                                                                    <input type="number" matInput formControlName="two">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Cinco Lempiras</mat-label>
                                                                    <input type="number" matInput
                                                                        formControlName="five">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Diez Lempira</mat-label>
                                                                    <input type="number" matInput formControlName="ten">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Viente Lempira</mat-label>
                                                                    <input type="number" matInput
                                                                        formControlName="twenty">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Ciencuenta Lempira</mat-label>
                                                                    <input type="number" matInput
                                                                        formControlName="fivety">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Cien Lempira</mat-label>
                                                                    <input type="number" matInput
                                                                        formControlName="oneHundred">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Quinientos Lempira</mat-label>
                                                                    <input type="number" matInput
                                                                        formControlName="fiveHundred">
                                                                </mat-form-field>
                                                            </form>
                                                        </mat-card-content>
                                                    </mat-card>
                                                </div>
                                                <div class="col-sm-4">
                                                    <mat-card class="mat-elevation-z2">
                                                        <mat-card-header style="justify-content: space-between;">
                                                            <mat-card-title>Dolares</mat-card-title>
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Tasa de cambio</mat-label>
                                                                <input type="text" matInput
                                                                    [(ngModel)]="usdExchangeRate">
                                                            </mat-form-field>
                                                        </mat-card-header>
                                                        <mat-card-content>
                                                            <form [formGroup]="this.usdCashForm">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Un Dolar</mat-label>
                                                                    <input type="text" matInput formControlName="one">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Dos Dolares</mat-label>
                                                                    <input type="text" matInput formControlName="two">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Cinco Dolares</mat-label>
                                                                    <input type="text" matInput formControlName="five">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Diez Dolares</mat-label>
                                                                    <input type="text" matInput formControlName="ten">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Viente Dolares</mat-label>
                                                                    <input type="text" matInput
                                                                        formControlName="twenty">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Ciencuenta Dolares</mat-label>
                                                                    <input type="text" matInput
                                                                        formControlName="fivety">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Cien Dolares</mat-label>
                                                                    <input type="text" matInput
                                                                        formControlName="oneHundred">
                                                                </mat-form-field>
                                                            </form>
                                                        </mat-card-content>
                                                    </mat-card>
                                                </div>
                                                <div class="col-sm-4">
                                                    <mat-card class="mat-elevation-z2">
                                                        <mat-card-header style="justify-content: space-between;">
                                                            <mat-card-title>Quetzales</mat-card-title>
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Tasa de cambio</mat-label>
                                                                <input type="text" matInput
                                                                    [(ngModel)]="qtzExchangeRate">
                                                            </mat-form-field>
                                                        </mat-card-header>
                                                        <mat-card-content>
                                                            <form [formGroup]="this.qtzCashForm">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Un Quetzal</mat-label>
                                                                    <input type="text" matInput formControlName="one">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Cinco Quetzales</mat-label>
                                                                    <input type="text" matInput formControlName="five">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Diez Quetzales</mat-label>
                                                                    <input type="text" matInput formControlName="ten">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Viente Quetzales</mat-label>
                                                                    <input type="text" matInput
                                                                        formControlName="twenty">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Ciencuenta Quetzales</mat-label>
                                                                    <input type="text" matInput
                                                                        formControlName="fivety">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Cien Quetzales</mat-label>
                                                                    <input type="text" matInput
                                                                        formControlName="oneHundred">
                                                                </mat-form-field>
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Docientos Quetzales</mat-label>
                                                                    <input type="text" matInput
                                                                        formControlName="twoHundred">
                                                                </mat-form-field>
                                                            </form>
                                                        </mat-card-content>
                                                    </mat-card>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Retiros">
                                        <div class="container-fluid mt-2 mb-2">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <mat-card class="mat-elevation-z2">
                                                        <mat-card-header>
                                                            <mat-card-title>Agregar retiro
                                                            </mat-card-title>
                                                        </mat-card-header>
                                                        <mat-card-content>
                                                            <form [formGroup]="this.debitForm"
                                                                class="d-flex flex-column">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Monto</mat-label>
                                                                    <input type="number" matInput inputmode="numeric"
                                                                        formControlName="amount">
                                                                    <mat-icon matPrefix>account_balance_wallet
                                                                    </mat-icon>
                                                                </mat-form-field>
                                                                <button mat-raised-button
                                                                    color="primary">Retirar</button>
                                                            </form>
                                                        </mat-card-content>
                                                    </mat-card>
                                                </div>
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-6">
                                                    <mat-card>
                                                        <mat-card-header>
                                                            <mat-card-title>Retiros realizados</mat-card-title>
                                                        </mat-card-header>
                                                        <mat-card-content>
                                                            <table mat-table [dataSource]="dataSource"
                                                                class="mat-elevation-z2 w-100">
                                                                <ng-container matColumnDef="debitType">
                                                                    <th mat-header-cell *matHeaderCellDef>Tipo</th>
                                                                    <td mat-cell *matCellDef="let row">{{ row.tyoe }}
                                                                    </td>
                                                                </ng-container>

                                                                <ng-container matColumnDef="amount">
                                                                    <th mat-header-cell *matHeaderCellDef>Monto</th>
                                                                    <td mat-cell *matCellDef="let row">{{ row.amount
                                                                        }}</td>
                                                                </ng-container>

                                                                <ng-container matColumnDef="actions">
                                                                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                                                    <td mat-cell *matCellDef="let row">

                                                                        <button mat-icon-button>
                                                                            <mat-icon>delete</mat-icon>
                                                                        </button>
                                                                    </td>
                                                                </ng-container>

                                                                <tr mat-header-row
                                                                    *matHeaderRowDef="this.columnsForDebitsTable"></tr>
                                                                <tr mat-row
                                                                    *matRowDef="let row; columns: this.columnsForDebitsTable">
                                                                </tr>

                                                                <!-- Row shown when there is no matching data. -->
                                                                <tr class="mat-row" *matNoDataRow>
                                                                    <td class="mat-cell" colspan="3" class="text-center">
                                                                        No se han ingresado debitos
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </mat-card-content>
                                                    </mat-card>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>