.sidenav-container {
  height: 100%;
}

.list-items-container{
  margin-bottom: 300px;
}

.sidenav {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logout-btn-container{
  /* height: calc(100% - 320px); */
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.logout-btn-container button{
  margin: 0 0 1rem 0;
}