<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="((isHandset$ | async) === false) && isUserLogin">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="list-items-container">
      <a mat-list-item routerLink="/home"  (click)="drawer.mode === 'side' || drawer.toggle()">Inicio</a>
      <a mat-list-item routerLink="/reservation"  (click)="drawer.mode === 'side' || drawer.toggle()">Reservación</a>
      <a mat-list-item routerLink="/roomer" (click)="drawer.mode === 'side' || drawer.toggle()">Huesped</a>

      <a mat-list-item routerLink="/customer" (click)="drawer.mode === 'side' || drawer.toggle()">Cliente</a>
      <a mat-list-item routerLink="/billing" (click)="drawer.mode === 'side' || drawer.toggle()">Facturacion</a>
      <a mat-list-item routerLink="/permanence" (click)="drawer.mode === 'side' || drawer.toggle()">Permanencia</a>

      <button (click)="showAdmin = !showAdmin" mat-raised-button>Administracion</button>
      <p *ngIf="showAdmin">
        <a mat-list-item routerLink="/users" (click)="drawer.mode === 'side' || drawer.toggle()"><mat-icon color="accent" aria-hidden="true">stop</mat-icon>Usuarios</a>
        <a mat-list-item routerLink="/fiscalInfo" (click)="drawer.mode === 'side' || drawer.toggle()"><mat-icon color="accent" aria-hidden="true">stop</mat-icon>Informacion Fiscal</a>
        <a mat-list-item routerLink="/room" (click)="drawer.mode === 'side' || drawer.toggle()"><mat-icon color="accent" aria-hidden="true">stop</mat-icon>Habitación</a>
        <a mat-list-item routerLink="/roles" (click)="drawer.mode === 'side' || drawer.toggle()"><mat-icon color="accent" aria-hidden="true">stop</mat-icon>Rol de usuario</a>
      </p>
      
    </mat-nav-list>
    <div class="logout-btn-container">
      <button mat-raised-button color="primary" (click)="handleLogoutClick()">Cerrar Sesion</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: #ededed;">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isUserLogin">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>hostelify-web-app</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>