<mat-card class="card-wrapper">
  <mat-card-content>
    <mat-card-title> Permanencias </mat-card-title>
    <mat-card-subtitle>
      Aqui podra crear, administrar y facturar las permanencias
    </mat-card-subtitle>
  </mat-card-content>
  <mat-card-content>
    <form class="permanenceForm">
      <mat-form-field>
        <mat-label>Buscar..</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field>
    </form>
    <div class="table-wrapper mat-elevation-z3">
      <table mat-table [dataSource]="dataSource" class="permanenceTable">

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let row">
            {{ row.customer.name }} {{ row.customer.lastname }}
          </td>
        </ng-container>

        <ng-container matColumnDef="reservation">
          <th mat-header-cell *matHeaderCellDef>No. de Reservacion</th>
          <td mat-cell *matCellDef="let row">{{ row.reservation.id }}</td>
        </ng-container>

        <ng-container matColumnDef="rooms">
          <th mat-header-cell *matHeaderCellDef>Habitaciones</th>
          <td mat-cell *matCellDef="let row">{{ getRoomsNumber(row) }}</td>
        </ng-container>

        <ng-container matColumnDef="checkIn">
          <th mat-header-cell *matHeaderCellDef>Fecha Entrada</th>
          <td mat-cell *matCellDef="let row">{{ row.checkIn | date }}</td>
        </ng-container>

        <ng-container matColumnDef="checkOut">
          <th mat-header-cell *matHeaderCellDef>Fecha Salida</th>
          <td mat-cell *matCellDef="let row">{{ row.checkOut | date }}</td>
        </ng-container>

        <ng-container matColumnDef="userCheckIn">
          <th mat-header-cell *matHeaderCellDef>U. Registro</th>
          <td mat-cell *matCellDef="let row">{{ row.userCheckIn?.username }}</td>
        </ng-container>

        <ng-container matColumnDef="userCheckOut">
          <th mat-header-cell *matHeaderCellDef>U. Salida</th>
          <td mat-cell *matCellDef="let row">{{ row.userCheckOut?.username }}</td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No se encontraron resultados para la busqueda "{{ input.value }}"
          </td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="openDialog()">
        Nuevo
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>