<h2 mat-dialog-title>
  {{ creatingReservation ? "Crear" : "Actualizar" }}
  reservación
</h2>
<mat-dialog-content class="mat-typography">
  <form
    class="createUpdateForm"
    [formGroup]="createUpdateReservationForm"
    (ngSubmit)="handleSubmit()"
    #createForm="ngForm"
  >
    <mat-form-field appearance="outline">
      <mat-label>Fecha de Ingreso</mat-label>
      <input
        matInput
        [matDatepicker]="fromPicker"
        formControlName="fromDate"
        (dateInput)="loadAvailableRooms()"
        [min]="today"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="fromPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha de Salida</mat-label>
      <input
        matInput
        [matDatepicker]="toPicker"
        formControlName="toDate"
        (dateInput)="loadAvailableRooms()"
      />
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cliente</mat-label>
      <mat-select formControlName="customerId">
        <mat-option *ngFor="let customer of customers" [value]="customer.id">
          {{ customer.name }} - {{ customer.lastname }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>supervised_user_circle</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Habitacion</mat-label>
      <mat-select formControlName="roomIds" multiple>
        <mat-option *ngFor="let room of rooms" [value]="room.id">
          No: {{ room.roomNumber }} - {{ room.type.type }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>local_hotel</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>No. Huespedes</mat-label>
      <input
        type="number"
        matInput
        formControlName="roomersQty"
        inputmode="numeric"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="closeDialog()">Cancelar</button>
  <button mat-button (click)="createForm.ngSubmit.emit()">
    {{ creatingReservation ? "Crear" : "Actualizar" }}
  </button>
</mat-dialog-actions>
